---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/tools/price-conversion?amount=1&convert=SBTC&symbol=USDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - a4ebc6c6-2198-4664-8473-c7b92cdd9239
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Traefik-Route:
      - coinmarketcap-pro-apis
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"timestamp":"2025-03-28T11:23:42.176Z","error_code":0,"error_message":null,"elapsed":46,"credit_count":1,"notice":null},"data":{"id":825,"symbol":"USDT","name":"Tether
        USDt","amount":1,"last_updated":"2025-03-28T11:21:00.000Z","quote":{"SBTC":{"price":5.293372553889523,"last_updated":"2025-03-28T11:23:00.000Z"}}}}'
  recorded_at: Fri, 28 Mar 2025 11:23:42 GMT
recorded_with: VCR 6.3.1
