---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/tools/price-conversion?amount=1&convert=SBTC&symbol=USDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - a4ebc6c6-2198-4664-8473-c7b92cdd9239
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Traefik-Route:
      - coinmarketcap-pro-apis
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"timestamp":"2025-03-26T14:40:39.855Z","error_code":0,"error_message":null,"elapsed":24,"credit_count":1,"notice":null},"data":{"id":825,"symbol":"USDT","name":"Tether
        USDt","amount":1,"last_updated":"2025-03-26T14:38:00.000Z","quote":{"SBTC":{"price":5.2956850152251,"last_updated":"2025-03-26T14:40:00.000Z"}}}}'
  recorded_at: Wed, 26 Mar 2025 14:40:39 GMT
recorded_with: VCR 6.3.1
