= turbo_stream_from "orders"

.container.px-5.my-5 data-controller="order" data-action="connect->order#updateTotal"
  h2 New Exchange
  hr
  .container
    = @order.inspect
  .container
    = @order.errors.inspect
  hr
  = form_with model: @order, url: orders_path, method: :post, remote: true do |f|
    = hidden_field_tag 'order[base_address]', @order[:base_address]
    = hidden_field_tag 'order[price]', @order[:price], data: { order_target: 'price' }
    = hidden_field_tag 'base_commision', Settings.commision_rate, data: { order_target: 'base_commision' }
    = hidden_field_tag 'base_miner_fee', Settings.miner_fee, data: { order_target: 'base_miner_fee' }

    .container
      .row
        .col
          .form-floating.mb-3
            = text_field_tag 'order[send_amount]', @order.send_amount, class: 'form-control', placeholder: 'You send', required: true, 'data-sb-validations': 'required', data: { order_target: 'send_amount', action: 'keyup->order#updateTotal' }
            label for="order_send_amount" You send
            - if @order.errors[:send_amount].any?
              .text-danger = @order.errors[:send_amount].first
        .col
          .form-floating.mb-3
            = select_tag 'order[base_currency]', options_for_select(Settings.base_currencies), class: "form-select", aria: { label: "Currency" }
            label for="order_base_currency" Currency

      .row
        .col
          .form-floating.mb-3
            #exchange_rate = "Exchange rate: 1 USDT ~ #{@order.price} SBTC"

      .row
        .col
          .form-floating.mb-3
            = text_field_tag :you_get, nil, class: 'form-control', placeholder: 'You send', readonly: true, 'data-sb-validations': 'required', data: { order_target: 'you_get' }
            label for="you_get" You get
            - if @order.errors[:receive_amount].any?
              .text-danger = @order.errors[:receive_amount].first
        .col
          .form-floating.mb-3
            = select_tag 'order[quote_currency]', options_for_select(Settings.quote_currencies), class: "form-select", aria: { label: "Currency" }
            label for="order_quote_currency" Currency

      .row#exchange_details
        .col
          .form-floating.mb-3
            #exchange_fee
              | Exchange fee: 
              span data-order-target="fee_text"
              |  SBTC
            #network_fee Network fee: 0.000006 SBTC

      .row
        .col
          .form-floating.mb-3
            = text_field_tag 'order[quote_address]', @order.quote_address, class: 'form-control', placeholder: 'Recipient address', required: true
            label for="order_quote_address" Recipient address
            - if @order.errors[:quote_address].any?
              .text-danger = @order.errors[:quote_address].first

      .row
        .col
          .mb-3
            .form-check.form-switch
              = check_box_tag 'order[i_agree_kyc]', true, @order.i_agree_kyc, class: 'form-check-input'
              label.form-check-label for="order_i_agree_kyc" I agree with KYC/AML
            - if @order.errors[:i_agree_kyc].any?
              .text-danger = @order.errors[:i_agree_kyc].first

    .d-grid
      = submit_tag "Submit"
      / submit_tag "Submit", class: "btn btn-primary btn-lg disabled"